/*---------------- Fonts -------------------------*/
@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');

/*------------------------------------------------*/
html {
    font-family: 'Baloo Da', cursive, sans-serif;
}

a {
    text-decoration: none
}

h1 {
    color: rgb(148, 173, 23);
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px
}

/*---------------- Header --------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    background: #820217 
}

.logo h1 {
    float: right;
    line-height: 160px;
    color: white;
    font-size: 40px
}

.navHeader {
    display: flex
}

.navHeader li {
    margin-left: 20px;
}

.navHeader li a {
    display: block;
    color: white;
    padding: 10px;
    font-size: 20px
}

.navHeader li a:hover {
    background: rgb(148, 173, 23);
}

/*---------------- Main -------------------------*/

/* Imagens hamburguer */

.sectionHamburguer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto
}

.sectionHamburguer > div {
    flex: 1 1 300px;
}

.sectionHamburguer img {
    max-width: 100%;
    display: block
}

.sectionHamburguer img:hover {
    opacity: 0.7;
}

/* Informações */
.info {
    text-align: center;
    margin: 61px
}

/*---------------- Footer -------------------------*/
.footer {
    background: black;
    text-align: center;
    color: white;
    padding: 100px
}