/*---------------- Fonts -------------------------*/
@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');

/*------------------------------------------------*/
html {
    font-family: 'Baloo Da', cursive, sans-serif;
}

a {
    text-decoration: none
}

h1 {
    color: rgb(148, 173, 23);
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    padding: 50px
}

/*---------------- Header --------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #af0320 
}

.logo {
    margin-left: 65px
}

.logo h1 {
    float: right;
    line-height: 140px;
    color: white;
    font-size: 40px;
    padding: 0
}

.navHeader {
    display: flex
}

.navHeader li {
    margin-right: 20px;
}

.navHeader li a {
    display: block;
    color: white;
    padding: 10px;
    font-size: 20px
}

.navHeader li a:hover {
    background: rgb(148, 173, 23);
}

/*---------------- Main -------------------------*/

main {
    background: rgb(224, 240, 145);
}

.carousel {
    max-width: 1200px;
    margin: 0px auto
}

.carousel img {
    width: 100%;
    padding: 5px
}

/* Imagens hamburguer */

.sectionHamburguer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto
}

.sectionHamburguer > div {
    flex: 1 1 250px;
    margin: 8px
}

.sectionHamburguer img {
    max-width: 100%;
    display: block;
    border-radius: 8px
}

.sectionHamburguer img:hover {
    opacity: 0.7;
}

/* Informações */
.info {
    text-align: center;
    background: white;
}

/*---------------- Footer -------------------------*/
.footer {
    background: black;
    text-align: center;
    color: white;
    padding: 100px
}