/*---------------- Fonts -------------------------*/
@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap');

html {
    font-family: 'Baloo Da', cursive, sans-serif;
}

/*---------------- Grid Layout -------------------------*/

body {
    display: grid;
    grid-template-rows: 14vh 8vh 85vh 20vh;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer"
}

.header {
    grid-area: header;
    background: #EFE8E2
}

.navMenu {
    grid-area: nav;
    background: rgb(184, 33, 13)
}

#main {
    grid-area: main;
    background: white;
}

.footer {
    grid-area: footer;
    background: rgb(184, 33, 13)
}

/* Breakpoint */

@media screen and (max-width: 768px) {
    body {
        grid-template-areas: "header" "nav" "main" "footer"
    }
}

/*---------------- Layout -------------------------*/

a {
    text-decoration: none
}

/*---------------- Header -------------------------*/

.headerContent {
    width: 40vw;
    height: 100%;
    margin-left: 60px
}

.headerFoods, .headerLogo {
    height: 14vh;
    width: 7vw;
    float: left;
}

.headerFoods h1 {
    font-size: 28px;
    font-weight: 900;
    line-height: 100px;
    color: rgb(185, 11, 11)
}

/*---------------- Nav - Menu --------------------*/

.menu {
    width: 30vw;
    height: 100%;
    margin-left: 48px
}

.menu li a {
    float: left;
    display: block;
    width: 25%;
    text-decoration: none;
    color: white;
    line-height: 44px;
    text-align: center;
}

.menu li a:hover {
    color: rgb(216, 238, 17)
}

/*---------------- Main -------------------------*/

/* Banner */


/* Carousel de imagens hamburguer */

.carouselHamburguer img {
    float: left;
    width: 25%;
    height: 35%
}

.carouselHamburguer img:hover {
    opacity: 0.7;
}

/* Efeito hamburguer preço */

.efeito {
    opacity: 1;
    position: relative;
}

.efeito .boxBlack {
    position: absolute;
    width: 25%;
    height: 0%;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    background-color: #000;
    transition: all 0.5s ease-in;
}

.efeito figure {
    position: relative;
    width: 450px;
    height: 316px;
    vertical-align: middle;
}

.efeito figcaption {
    color: #000;
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: auto;
    transform: translateY(0%);
    transition: all 0.5s ease-in .5s;
    z-index: 2;
    width: 25%;
}

.efeito:hover figure .boxBlack {
    opacity: 0.5;
    height: 100%;
}

.efeito:hover figure figcaption {
    opacity: 1;
    bottom: 30px;
}

/* Descrição do hamburguer */

.descricaoHamburguer {
    height: 35%;
    clear: both;
}

/*---------------- Footer -------------------------*/

.footer {
    clear: both;
}